<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="../../vendor/autoload.php"
         cacheDirectory="../../cache/phpunit"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="NOSQL Suite Test">
            <directory>./Test</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./Api</directory>
            <directory suffix=".php">./Controller</directory>
            <directory suffix=".php">./Services</directory>
            <directory suffix=".php">./Models</directory>
        </include>
        <exclude>
            <directory>./Config</directory>
            <directory>./Public</directory>
            <directory>./Templates</directory>
            <directory>./Api/base</directory>
            <directory>./Controller/base</directory>
            <directory>./Models/base</directory>
            <directory>./Models/Map</directory>
        </exclude>
    </source>
</phpunit>
